@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

input[type=number] {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.main-heading{
    max-width: 50%;
    font-family: 'Roboto', sans-serif;
}

.loan-form{
    max-width: 40em;
    min-width: 25em;
    box-shadow: 0.5em 0.5em 4em rgb(202, 201, 201);
    border-radius: 0.2em;
    padding: 1em;
    margin: 1em;
}

.form-heading{
    color: blue;
}

.loan-part{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dollar-sign{
    text-align: right;
    padding: 0.5em;
}

.loanterm-part{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cal-button{
    text-align: center;
}

.calcu-button{
    background-color: rgb(71, 37, 223);
    border: none;
    color: white;
    padding: 0.5em;
    text-align: center;
    font-size: 0.9em;
    border-radius: 0.3em;
}

.loan-details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center; 
    max-width: 50em;
  
}

.summarry{
    margin: 1em;
}